@font-face {
  font-family: 'Graphik-Regular';
  src: url('fonts/Graphik-Refular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Graphik-Medium';
  src: url('fonts/Graphik-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Graphik-Semibold';
  src: url('fonts/Graphik-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

.strong {
  font-family: 'Graphik-Medium';
}


body, h1, h2, h3, p {
  font-family: 'Graphik-Regular', sans-serif;
  margin: 0px;
}

h1 {
  font-size: 48px;
  font-family: 'Graphik-Regular';

}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Graphik-Semibold', sans-serif;

}

p {
  font-size: 2rem;
}

.button {
  margin: 0rem;
}

#view_onboarding {
  background-color: #193662;
  color: #fff;
}

#preview img {
  border: 1px solid black;
  float: left;
  margin: 0 1em 1em 0;
  width: 10em;
}

header {
  background-color: #193662;
  background-size: cover;
  position: relative;
  overflow: visible;
  padding: 2.5rem 4rem;
  color: #fff;
}

.btn-session {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #C6D9E5;
  background-color: #1F3960;
  color: #fff;
}

.btn-session:hover {
  opacity: 0.8;
  cursor: pointer;
}



#page_footer {
  background-color: #193662;
  color: #fff;
  padding: 0rem 4rem;
}

#btn_start_scan {

}

#view_onboarding #page_content {
  padding-top:15rem;
}

#page_content {
  padding: 0rem 4rem;
}

.page_content_table{
  padding: 2rem 0rem;
}

th, td {
  padding: 1rem 0rem;

}

tr:hover {
  background-color: #E6E8EC;
}

th {
  font-family: 'Graphik-Medium';
  font-weight: normal;
  text-align: left;

}

#start_scan {
  display: inline;
}

#stop_scan {
  display: none;
}
