<html>
    <head>
      <title>QR Test</title>
      <link rel="stylesheet" href="/css/foundation.css">
      <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body id="view_cases">

        <header id="page_header">
          <div class="row page_header_title ">
            <div class="small-12 columns">
              <h4>All cases</h4>

            </div>
          </div>
        </header>

        <section id="page_content">
          <div class="row page_content_table ">
            <div>
              <!--  replace with js render -->
              <table class="small-12 columns">
                <thead>
                  <tr>
                    <th>Case ID</th>
                    <th>Surgery</th>
                    <th>Surgeon</th>
                  </tr>
                </thead>
                <tbody id="page_content_table">
                  <script type="text/template" id="page_content_table_template">
                    <tr class="case">
                      <td><%= case_number %></td>
                      <td><%= surgery_type %></td>
                      <td><%= surgeon %></td>
                    </tr>
                  </script>
                </tbody>
              </table>
            </div>
          </div>

        </section>
        <footer id="page_footer">
          <div class="row page_footer_content">
            <div class="columns small-9">
              <h3>STATUS: CONNECTED</h3>
            </div>

          </div>
        </footer>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="http://underscorejs.org/underscore-min.js"></script>
      <script src="http://backbonejs.org/backbone-min.js"></script>

      <script type="text/javascript" src="/js/cases.js"></script>
      <script type="text/javascript" src="/js/router.js"></script>




    </body>

</html>
