<html>
    <head>
      <title>Onboarding</title>
      <link rel="stylesheet" href="/css/foundation.css">
      <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body id="view_onboarding">

        <!-- <header id="page_header">
          <div class="row page_header_title ">
            <div class="small-12 columns">
              <h1>Case 1</h1>
            </div>
          </div>
        </header> -->

        <section id="page_content_main">
          <div class="row">
            <div class="small-7 small-offset-2 columns">
              <!--  replace with js render -->
              <h1 class="strong">Surgitrack</h1>
              <h2>Easily track surgical waste</h2>
            </div>

          </div>
          <div class="row">
            <div class="small-7 small-offset-2 columns">
              <div id="btn-new-session" class="small-5 columns btn-session">
                  <h2>New session</h2>


              </div>
              <div id="btn-old-session" class="small-5 columns end btn-session">
                  <h2>Old session</h2>
              </div>
            </div>
          </div>

        </section>

        <section id="page_content_surgery">
          <div class="row">
            <div class="small-7 small-offset-2 columns">
              <!--  replace with js render -->
              <h2>What is the type of surgery?</h2>
              <select id="list_surgeries">
                <script type="text/template" id="page_content_surgery_template">
                  <option><%= surgery_type %></option>
                </script>
              </select>
              <button id='btn_to_surgeon' href='#' class='button'>Next</button>
            </div>

          </div>
        </section>

        <section id="page_content_surgeon">
          <div class="row">
            <div class="small-7 small-offset-2 columns">
              <!--  replace with js render -->
              <h2>Who is the surgeon?</h2>
              <select id="list_surgeons">
                <script type="text/template" id="page_content_surgeon_template">
                  <option><%= surgeon %></option>
                </script>
              </select>
              <button id='btn_to_session' href='#' class='button'>Create Case</button>
            </div>

          </div>

        </section>

        <!-- <footer id="page_footer">
          <div class="row page_footer_content">
            <div class="columns small-9">
              <h3>STATUS: CONNECTED</h3>
            </div>

          </div>
        </footer> -->


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="http://underscorejs.org/underscore-min.js"></script>
      <script src="http://backbonejs.org/backbone-min.js"></script>
      <!-- <script type="text/javascript" src="/js/case.js"></script> -->
      <script type="text/javascript" src="/js/foundation.js"></script>
      <script type="text/javascript" src="/js/onboarding.js"></script>
      <script type="text/javascript" src="/js/case.js"></script>
      <script type="text/javascript" src="/js/router.js"></script>
      <script>
        $(document).foundation();
      </script>





    </body>

</html>
